.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height:149px;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 20px;
   




    &-logo {
        min-width:128px;
        max-height: 24px;
    }


        &-link {
            
            &-vk {
                padding-right: 27px;
            }

            &-face {
                    padding-left: 21px;
                }
        }

    &-academy {
        display: flex;
        align-items: center;
        min-width: 163px;

        :first-child {
            padding-right: 22px;
        }
    }
}