// For block "How is this work?"

@media(max-width:1099px) {
  .main-weight-gain-slim {
    margin:47px 0 0 52px;

  }
}


@media(max-width:1010px) {

  .main-weight-loss {
    &-logo {
      margin: 41px 0 39px 0;
      

      &-pic {
          margin: 0 0 0 22px;
        
      }
  }

      &-banner {
        margin: 0 0 0 22px;
      
    }

    &-slim {
        margin:23px 0 0 22px;
    }
  }

  .main-weight-gain {
    margin-left: 40px;

    &-logo {
      margin: 41px 0 39px 0;
      

      &-pic {
          margin: 0 0 0 22px;
        
      }
  }

      &-banner {
        margin: 0 0 0 22px;
    }

    &-slim {
        margin:47px 0 0 22px;
    }
  }


  
}


@media(max-width:690px) {
  
    .bl-p {
      display: flex;
      align-self: start;
    }
  
}


@media(max-width:590px) {
  .main-howwork-block {
  display: flex;
  justify-content: space-around;
  }
}