@include mobile {

    .main-howwork-block {

        img {
            // max-width: 100;
            min-height: 100%;
        }

        span {
            display: none;
        }

        p {
            font-size: 14px;
            line-height: 18px;
            padding-left: 1.25rem;
            color: #444444;
        }

    }

    .main-howwork-block-1 {
        display: flex;
        height: 60px;
        max-width: 280px;
    }
    .main-howwork-block-2 {
        margin-top: 20px;
        display: flex;
        height: 60px;
        max-width: 280px;
    }
    .main-howwork-block-3 {
        margin-top: 20px;
        display: flex;
        height: 60px;
        max-width: 280px;   
    }
    .main-howwork-block-4 {
        margin-top: 20px;
        display: flex;
        height: 60px;
        max-width: 280px;
    }
}