.main {
    max-width: 100%;
    margin: 82px 0 0 0;



   &-container {
    // display: flex;

   }

   &-strength {
    display: flex;
    min-height: 100%;
   }

    &-weight-loss {
        min-width: 46.72%;
        min-height: 374px;
        background: #F2F2F2;
       

        &-logo {
            margin: 41px 0 39px 0;
            display: flex;

            &-pic {
                margin: 0 0 0 52px;
            }

            &-text {
                @extend %Oswald-400;
                display: flex;
                align-self: center;
                font-size: 2.25rem;
                line-height: 36px;
                text-transform: uppercase;
                margin: 0 0 0 36px;
            }
        }

        &-banner {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 24px;
            margin: 0 0 0 52px;
            padding-right: 10px;
            max-width: 477px;
        }

        &-slim {
            margin:23px 0 0 52px;
            @extend %Oswald-400;
            font-size: 1.25rem;
            line-height: 30px;
            text-transform: uppercase;
        }

    }

    &-weight-gain {
        min-width: 46.72%;
        min-height: 374px;
        background: #F2F2F2;
        margin-left: 80px;

        &-logo {
            margin: 41px 0 39px 0;
            display: flex;

            &-pic {
                margin: 0 0 0 52px;
                box-shadow: none;
            }

            &-text {
                @extend %Oswald-400;
                display: flex;
                align-self: center;
                font-size: 2.25rem;
                line-height: 36px;
                text-transform: uppercase;
                margin: 0 0 0 36px;

            }
        }

        &-banner {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 24px;
            margin: 0 0 0 52px;
            padding-right: 10px;
            max-width: 457px;
        }

        &-slim {
            margin:23px 0 0 52px;
            @extend %Oswald-400;
            font-size: 1.25rem;
            line-height: 30px;
            text-transform: uppercase;
        }

    }

    &-howwork {
        max-width: 1240px;
        // padding: 0 10px;
        margin: 71px auto 69px auto;

        &-text {
            @extend %Oswald-400;
            font-size: 3.75rem;
            line-height: 60px;
        }

        &-block {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 32px 0 0 0;


            &-1 {
                position: relative;
                height: 280px;
                max-width: 230px;

                img {
                    margin: 40px 0 0 0;
                }

                p {
                    margin: 31px 0 0 0;
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    max-height: 31.3%;
                    max-width: 90%;
                }

                &-number {
                    position: absolute;
                    left: 118px;
                    top: 0;
                    @extend %Oswald-400;
                    font-size: 280px;
                    line-height: 280px; 
                    color:  #F2F2F2;
                    z-index: -5;
                }
            }

            &-2 {
                position: relative;
                height: 280px;
                max-width: 246px;


                img {
                    margin: 40px 0 0 0;
                }

                p {
                    margin: 31px 0 0 0;
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    max-height: 31.3%;
                    max-width: 92.2%;
                }

                &-number {
                    position: absolute;
                    left: 118px;
                    top: 0;
                    @extend %Oswald-400;
                    font-size: 280px;
                    line-height: 280px; 
                    color:  #F2F2F2;
                    z-index: -5;
                }
            }

            &-3 {
                position: relative;
                height: 280px;
                max-width: 248px;
            

                img {
                    margin: 40px 0 0 0;
                }

                p {
                    margin: 31px 0 0 0;
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    max-height: 31.3%;
                    max-width: 84.3%
                }

                &-number {
                    position: absolute;
                    left: 118px;
                    top: 0;
                    @extend %Oswald-400;
                    font-size: 280px;
                    line-height: 280px; 
                    color:  #F2F2F2;
                    z-index: -5;
                }
            }

            &-4 {
                position: relative;
                height: 280px;
                max-width: 250px;

                img {
                    margin: 40px 0 0 0;
                }

                p {
                    margin: 31px 0 0 0;
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    max-height: 31.3%;
                    max-width: 98%;
                }

                &-number {
                    position: absolute;
                    left: 118px;
                    top: 0;
                    @extend %Oswald-400;
                    font-size: 280px;
                    line-height: 280px; 
                    color:  #F2F2F2;
                    z-index: -5;
                }
            }
        }


    }

    &-second-block {
        display: flex;
        min-height: 100%;
    }

    &-example {
        position: relative;
        margin: 69px 0 0 0;

        &-life {
            @extend %Oswald-400;
            font-size: 3.75rem;
            line-height: 60px;
        }

        &-text {
            max-width: 80%;
            // max-height: 96px;
            margin: 146px 0 0 0;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }

        &-features {
            display: flex;
            margin: 69px 0 0 0;
        }

        &-weight{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 162px;
            height: 77px;
            border: 1.5px solid #CDCDCD; 
            border-radius: 3.49%;
            @extend %Oswald-400;
            font-size: 30px;
            line-height: 37px;

            p{
                position: absolute;
                right: 33px;
                top: 67px;
                width:97px;
                font-family: 'Arial';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                background-color: #F2F2F2;
               
            }
        }

        &-days{
            margin: 0 0 0 42px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 162px;
            height: 77px;
            border: 1.5px solid #CDCDCD; 
            border-radius: 3.49%;
            @extend %Oswald-400;
            font-size: 30px;
            line-height: 37px;

            p{
                position: absolute;
                right: 16px;
                top: 67px;
                width:127px;
                font-family: 'Arial';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                background-color: #F2F2F2;
               
            }
        }

        &-expenses {
            display: flex;
            margin:55px 0 0 0;
            min-height: 40px;

            p {
                @extend %Oswald-400;
                font-size: 1.25rem;
                line-height: 20px;
                text-transform: uppercase;
            }

            :last-child {
                margin: 0 0 0 63px;
            }
        }
    }

    &-before {
        position: relative;
        top: 40px;
        left: 0;
        width: 690px;
        height: 656px;

        &-pic {
           

            &-fat {
                min-width:100%;
                min-height: 100%;
                fill-opacity: 0;
            }
        }

        &-slider {
            display: flex;
            margin: 46px 0 0 0;

            p {
                @extend %Oswald-400;
                font-size: 20px;
                line-height: 30px;
            }

            :first-child {
                margin-left: 73px;
            }

            :last-child {
                margin-left: 459px;
            }
        }
    }


    &-section {
        padding: 30px 0 0 0;
        position: relative;

        &-adress {
            display: none;
            justify-content:space-around;
            align-items: center;
            min-width:100%;
            min-height: 201px;
            background-color: #FFFFFF;


            &-1 {
                max-width:22.26%;
                p {
                    @extend %Oswald-400;
                    font-size: 1.25rem;
                    line-height: 21px;
                    text-transform: uppercase;
                }
            }

            &-2 {
                max-width: 20.7%;
                p {
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 20px;
                    color: #444444;
                    text-align: right;
                }

                :last-child {
                    margin:9px 0 0 0;
                }
            }
        }

        &-map {
            position: relative;
            min-width: 100%;
            min-height: 400px;

            &-iframe {
                position: absolute;
                min-width:100%;
                min-height: 100%;
            }
        }
    }

}

.background-grey {
    position:absolute;
    top:136px;
    left: -700px;
    background-color: #F2F2F2;
    min-width:4000px;
    min-height: 3000px;
    z-index:-5;
}


