.main {
    margin: 82px 0 0 0;
    overflow: hidden;
    // display: flex;

   &-container {
    display: flex;
    max-width: 1240px;
    padding: 0 10px;
    margin: 0 auto;
   }

    &-weight-loss {
        min-width: 46.72%;
        min-height: 374px;
        background: #F2F2F2;
        margin-right: 80px;

        &-logo {
            margin: 41px 0 39px 0;
            display: flex;

            &-pic {
                margin: 0 0 0 52px;
            }

            &-text {
                @extend %Oswald-400;
                display: flex;
                align-self: center;
                font-size: 2.25rem;
                line-height: 36px;
                text-transform: uppercase;
                margin: 0 0 0 36px;

            }
        }

        &-banner {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 24px;
            margin: 0 0 0 52px;
        }

        &-slim {
            margin:23px 0 0 52px;
            @extend %Oswald-400;
            font-size: 1.25rem;
            line-height: 30px;
            text-transform: uppercase;
        }

    }

    &-weight-gain {
        min-width: 46.72%;
        min-height: 374px;
        background: #F2F2F2;

        &-logo {
            margin: 41px 0 39px 0;
            display: flex;

            &-pic {
                margin: 0 0 0 52px;
                box-shadow: none;
            }

            &-text {
                @extend %Oswald-400;
                display: flex;
                align-self: center;
                font-size: 2.25rem;
                line-height: 36px;
                text-transform: uppercase;
                margin: 0 0 0 36px;

            }
        }

        &-banner {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 24px;
            margin: 0 0 0 52px;
        }

        &-slim {
            margin:23px 0 0 52px;
            @extend %Oswald-400;
            font-size: 1.25rem;
            line-height: 30px;
            text-transform: uppercase;
        }

    }

    &-howwork {
        max-width: 1240px;
        padding: 0 10px;
        margin: 71px auto 0 auto;

        &-text {
            @extend %Oswald-400;
            font-size: 3.75rem;
            line-height: 60px;
        }

        &-block {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 32px 0 0 0;

            &-1 {
                position: relative;
                height: 280px;
                max-width: 230px;

                img {
                    margin: 40px 0 0 0;
                }

                p {
                    margin: 31px 0 0 0;
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    max-height: 31.3%;
                    max-width: 90%;
                }

                &-number {
                    position: absolute;
                    left: 118px;
                    top: 0;
                    @extend %Oswald-400;
                    font-size: 280px;
                    line-height: 280px; 
                    color:  #F2F2F2;
                    z-index: -5;
                }
            }

            &-2 {
                position: relative;
                height: 280px;
                max-width: 246px;


                img {
                    margin: 40px 0 0 0;
                }

                p {
                    margin: 31px 0 0 0;
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    max-height: 31.3%;
                    max-width: 92.2%;
                }

                &-number {
                    position: absolute;
                    left: 118px;
                    top: 0;
                    @extend %Oswald-400;
                    font-size: 280px;
                    line-height: 280px; 
                    color:  #F2F2F2;
                    z-index: -5;
                }
            }

            &-3 {
                position: relative;
                height: 280px;
                max-width: 248px;
            

                img {
                    margin: 40px 0 0 0;
                }

                p {
                    margin: 31px 0 0 0;
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    max-height: 31.3%;
                    max-width: 84.3%
                }

                &-number {
                    position: absolute;
                    left: 118px;
                    top: 0;
                    @extend %Oswald-400;
                    font-size: 280px;
                    line-height: 280px; 
                    color:  #F2F2F2;
                    z-index: -5;
                }
            }

            &-4 {
                position: relative;
                height: 280px;
                max-width: 250px;

                img {
                    margin: 40px 0 0 0;
                }

                p {
                    margin: 31px 0 0 0;
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    max-height: 31.3%;
                    max-width: 98%;
                }

                &-number {
                    position: absolute;
                    left: 118px;
                    top: 0;
                    @extend %Oswald-400;
                    font-size: 280px;
                    line-height: 280px; 
                    color:  #F2F2F2;
                    z-index: -5;
                }
            }
        }


    }


}