.main {
    margin: 82px 0 0 0;
    // display: flex;

   

    &-weight-loss {
        max-width: 570px;
        min-height: 374px;
        background: #F2F2F2;
        margin-right: 80px;

        &-logo {
            margin: 41px 0 39px 0;
            display: flex;

            &-pic {
                margin: 0 0 0 52px;
            }

            &-text {
                @extend %Oswald-400;
                display: flex;
                align-self: center;
                font-size: 2.25rem;
                line-height: 36px;
                text-transform: uppercase;
                margin: 0 0 0 36px;

            }
        }

        &-banner {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 24px;
            margin: 0 0 0 52px;
        }

        &-slim {
            margin:23px 0 0 52px;
            @extend %Oswald-400;
            font-size: 1.25rem;
            line-height: 30px;
            text-transform: uppercase;
        }

    }

    &-weight-gain {
        max-width: 570px;
        min-height: 374px;
        background: #F2F2F2;

        &-logo {
            margin: 41px 0 39px 0;
            display: flex;

            &-pic {
                margin: 0 0 0 52px;
            }

            &-text {
                @extend %Oswald-400;
                display: flex;
                align-self: center;
                font-size: 2.25rem;
                line-height: 36px;
                text-transform: uppercase;
                margin: 0 0 0 36px;

            }
        }

        &-banner {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 24px;
            margin: 0 0 0 52px;
        }

        &-slim {
            margin:23px 0 0 52px;
            @extend %Oswald-400;
            font-size: 1.25rem;
            line-height: 30px;
            text-transform: uppercase;
        }

    }



}