%Oswald-400 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
}


%burger {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
    transition: all 0.3s ease 0s;
}
