html {
    box-sizing: border-box;
    font-size: clamp(12px, 2vw, 16px);
    min-width: 280px;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    /* background-color: #F5F5F5; */
  }
  
  
  a {
    text-decoration: none;
    color: inherit;
    
  }

  a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
  }

  button:hover {
    background-color: #5EAA2F;
  }

  button:active {
   opacity: 0.7;
  }

  ol,
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }


  .wrapper {
    min-height: 100%;
    overflow: hidden;
  }


  ._container {
    margin: 0 auto;
    max-width: 1260px;
    padding: 0 20px;
  }
