
@include tablet {

    .header {
        min-height: 770px;
    }

    .header-nav {
     
        
        &-ul {
            margin-top: 3px;
    
            li {
               
                font-size: 18px;
                line-height: 30px;
                
            }
        }
    
    }

    .header-nav-ul {
        li {
            color: #000000;
        }
    }

    .header-information {
        margin: 64px 0 0 11.5%;
    }

    .header-information-picture {
        display: none;
    }

    .header-box-picture {
        max-width: 709px;
        max-height: 609px;
        top: 370px;
        left: 8%;
    }

    a:hover {
        text-decoration: underline green;
        text-underline-offset: 6px;
        
      }

}



