
@include tablet {

    .header-nav {
     
        
        &-ul {
          
            margin-top: 3px;
        
    
            li {
               
                font-size: 18px;
                line-height: 30px;
                
            }
        }
    
    }

    .header-information {
        margin: 62px 0 0 6.5%;
    }

    .header-information-picture {
        display: none;
    }

    .header-box-picture {
        min-width: 709px;
        min-height: 609px;
        top: 401px;
        left: 4%;
    }

}