.header {
    
    // position: relative;
    max-width: 100%;

   

    &-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 53px 0 0 0;
        min-width: 100%;

        &-pic {
        display: flex;

            &-add {
                display: flex;
            }
        }

        &-text {
            display: flex;
            align-self: center;
            margin: 5px 0 0 10px;

        }
    }

    &-nav {
        // margin: 0 0 0 44.5%;
        
        &-ul {
            display: flex;
            margin-top: 5px;
          


            :last-child {
                padding-right: 0px;
            }

            li {
                @extend %Oswald-400;
                font-size: 20px;
                line-height: 30px;
                text-transform: uppercase;
                color: black;
                padding-right: 35px;
            }
        }

        &-button {
            display: none;
        }
    }



}
    

